[tool.poetry]
name = "aio-kong"
version = "2.8.0"
description = "Asynchronous Kong Client"
authors = ["Luca <luca@quantmind.com>"]
license = "BSD-3-Clause"
readme = "readme.md"
packages = [
    {include = "kong"}
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: JavaScript",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "Typing :: Typed",
    "Framework :: AsyncIO",
    "Environment :: Web Environment",
]

[tool.poetry.urls]
"Repository" = "https://github.com/quantmind/aio-kong"
"Issues" = "https://github.com/quantmind/aio-kong/issues"

[tool.poetry.dependencies]
python = "^3.8"
aiohttp = "^3.8.1"
click = "^8.1.3"
PyYAML = "^6.0"

[tool.poetry.dev-dependencies]
black = "^22.6.0"
isort = "^5.10.1"
mypy = "^0.971"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
flake8 = "^5.0.4"
flake8-blind-except = "^0.2.0"
flake8-commas = "^2.1.0"
codecov = "^2.1.12"
coverage = "^6.2"
python-dotenv = "^0.20.0"
pytest-asyncio = "^0.19.0"
types-PyYAML = "^6.0.11"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
